//colores a utilizar y tamaño de letra
$pink: hsl(322, 100%, 66%);

$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

$sp0: 0.5rem;
$sp1: 1rem;
$sp2: 2rem;
$sp3: 2.5rem;
$sp4: 3rem;
$sp5: 4rem;
$sp6: 6rem;

$sm: 680px;
$xl: 1280px;